<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission pour utiliser la caméra -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Déclare l'utilisation de la caméra, mais indique qu'elle n'est pas obligatoire -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CannabisAppMobile"
        tools:targetApi="31">
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ModifyPlantActivity"
            android:exported="false" />
        <activity
            android:name=".ArchiveActivity"
            android:exported="true" />
        <activity
            android:name=".RemovePlantActivity"
            android:exported="false" />
        <activity
            android:name=".PlantDetailActivity"
            android:exported="false" />
        <activity
            android:name=".InventoryActivity"
            android:exported="true" />
        <activity
            android:name=".AddPlantActivity"
            android:exported="true" /> <!-- LoginActivity, the main entry point of the app -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>